.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}
.navbar{
  display: flex;
  justify-content: space-between;
  width: 92.5%;
  height: 92px;
  align-items: center;
  padding: 16px 120px 16px 120px;
  max-width:1600px;
  margin: 0 auto;
  background-color: #FFFFFF;
;
}
.menu ul li {
  text-decoration: none;
  display: inline-flex;
  
}
a {
  text-decoration: none;
  font-size: 20px;
  color: #000000;
}
.menu ul{
  gap:32px ;
  display: flex;
  color: #000000;
  padding-top: 34px;
  padding-bottom: 34px
}
.btn{
  background-color: #469165;
  color:#FFFFFF;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius:4px;
  cursor: pointer;
}
.btn:hover{
  background-color: green;
}
#hero{
  
  
  background-image: url(../assets/hero-bg.png);
  background-repeat: no-repeat;
  margin: 0 auto;
  width: 1600px;
  height: 2926px;
}
#hero div{
  text-align: center;
  padding-top: 30px;
}
#early-txt span{
  padding: 8px 8px 8px 8px;
  background-color: #FFFFFF;
  border-radius:10px;
  color: #469165;
  border: none;
 
}
#hero div h1 {
  color: #FFFFFF;
  font-size: 72px;
}
#hero div h1 span{
  color: #469165;
  background-color: none;
}

#hero div p{
  font-size: medium;
  color: #FFFFFF;
  font-size: 18px;
}
#green-btn{
  background-color: #469165;
  color: #FFFFFF;
  padding: 12px 16px 12px 16px;
  border: none;
  border-radius: 4px;
  margin-right: 20px ;
  cursor: pointer;
}
#green-btn:hover{
  background-color: green;
}
#trans-btn{
  color: #FFFFFF;
  background-color: #fdfcfc00;
  border: 1px solid white;
  padding: 12px 16px 12px 16px;
  cursor: pointer;
}
#trans-btn:hover{
  background-color:green;
}